<section class="header-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-4 abc-imf">
                <div class="icon-img">
                     <img class="matrika-img" src="../../assets/Matrika Logo.png" alt="" routerLink="/">
                     <div class="img-line">
                        <img class="matrika-img2" src="../../assets/Mask group (2).png" alt="">
                     </div>
                </div>
            </div>

            <div class="col-md-5 search-in">
                <div class="search">
                    <select class="input">
                        <option value="">Select</option>
                        <option value="">Gold Chains</option>
                        <option value="">Chocker</option>
                        <option value="">Bangles</option>
                        
                    </select>

                </div>
               
                
            </div>

            <div class="col-md-3 fcafl">
                <div class="icon-headers">
                    <div class="row">
                    
                        <div class="col-md-4 col-4">
                            <div class="account" routerLink="login" >
                                
                                <img class="para-img" src="../../assets/user (6).png" alt="" >
                                <p  class="para-acc" >Account</p>
                                
                            </div>
                            
                        </div>

                        <div class="col-md-4 col-4">
                            <div class="heart" routerLink="wishlist">
                                <img class="para-img"  src="../../assets/heart (5).png" alt="">

                                <p class="para-acc" >Wishlist</p>
    
                            </div>
                            
                        </div>

                        <div class="col-md-4 col-4">
                            <div class="cart " routerLink="cart">
                                <img class="para-img"  src="../../assets/shopping-bag (4).png" alt="">
                                <p class="para-acc">Cart</p>
                            </div>
                        </div>

                    </div>
                </div>

                </div>
               
            </div>
        </div>
    
        
</section>

<div class="nav-head">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <nav class="navbar navbar-expand-lg navbar-light bg-light navmenu ">
                   
                     
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          <li class="nav-item ">
                            <a class="nav-link active" aria-current="page" routerLink="/ring">Rings</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#" routerLink="/nose">Nose Pins</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#" routerLink="/chain">Chains</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#" routerLink="/bracelet">Bracelet</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#" routerLink="bangles">Bangles</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#" routerLink="gift">Gift Cards</a>
                          </li>

                          <li class="nav-item">
                            <a class="nav-link" href="#" routerLink="myorder">My Order</a>
                          </li>
                        </ul>
                        
                      </div>
                  
                  </nav>
              
            </div>
           
            
            

            
        </div>
    </div>

</div>



