

<div class="address">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="Reg-para">Registered Office</p>
                <p class="goldsikka-para"> Goldsikka Limited #3-5-573, <br> HimayatNagar, Hyderabad, <br> Telangana,500029,India</p>

            </div>

            <div class="col-md-3">
                <p class="Reg-para">Jewellery Wholesale Shop</p>
                <p class="goldsikka-para"> Goldsikka Limited First Floor #3-5-171, <br> Narayanaguda Nagar, Hyderabad, <br> Telangana,500029,India</p>

            </div>

            <div class="col-md-3">
                <p class="Reg-para">Bullion Retail Shop</p>
                <p class="goldsikka-para"> Shop No .01 H No 21-6-60, Mehnadi, <br>GalliJanshi Bazar, Charminar, Hyderabad, <br> Telangana,500029,India</p>

            </div>

            <div class="col-md-3">
                <p class="Reg-para">Corporate Office</p>
                <p class="goldsikka-para">Goldsikka Limited Second Floor Ashok, <br>Raghupathi Chambers , H.No 1-10-60, <br> Hyderabad Telangana, 500029, India</p>

            </div>
        </div>
    </div>

</div>

<section class="footer-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="matrika-para">Matrika Collections</p>
                <div class="line"></div>
                <div class="goldpara-head">
                    <p class="gold-para">Gold Chains</p>
                    <p class="gold-para">Choker</p>
                    <p class="gold-para">Bangles</p>
                </div>
            </div>

            <div class="col-md-3">
                <p class="matrika-para">Matrika Promises</p>
                <div class="line"></div>
                <div class="goldpara-head">
                    <p class="gold-para">Assured Lifetime Maintenance</p>
                    <p class="gold-para">Purity 24k(999 Purity)</p>
                    <p class="gold-para">Easy Exchange</p>
                    <p class="gold-para">Your Jewellery is Insured</p>
                    <p class="gold-para">14 Days Return Policy</p>
                    <p class="gold-para">Guaranteed Buyback</p>
                    <p class="gold-para">Complete Transparency</p>
                    <p class="gold-para">Security</p>
                </div>
            </div>

            <div class="col-md-3">
                <p class="matrika-para" routerLink="contact">Contact Us</p>
                <div class="line"></div>

                <div class="goldpara-head2">
                    <p class="gold-para1">Call: 040-4013 7575</p>
                    <p class="gold-para1">What’s App: 91600 06724</p>
                    <p class="gold-para1">Email: infogoldsikka.com</p>
                    <p class="gold-para1">Working Hours: Mon-Sat(9:30 am to 6:30 pm)</p>
                    <p class="gold-para1">Note: 2nd & 4th Saturdays Holidays.</p>
                </div>
            </div>

            <div class="col-md-3">
                <p class="matrika-para">Matrika Promises</p>
                <div class="line"></div>
                <div class="social-main">
                    <img class="soical-icons" src="../../assets/fb.png" alt="">
                    <img class="soical-icons" src="../../assets/instagram.png" alt="">
                    <img class="soical-icons" src="../../assets/youtube(8).png" alt="">
                    <img class="soical-icons" src="../../assets/linkden (9).png" alt="">
                    <img class="soical-icons" src="../../assets/twitter.png" alt="">
                    <img class="soical-icons" src="../../assets/pertest.png" alt="">
                    </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <p class="goldsikk-Ltd">2022-2023 Goldsikka Ltd.Design by: 
                    <span class="x-yug">X-YUG Technologies</span>
                </p>
            </div>

            <div class="col-md-6">
                <div class="main-cardicon">
                    <p class="accept-para">We Accept:</p>
                    <img class="visa-icon" src="../../assets/visa.svg1.png" alt="">
                    <img class="master-icon" src="../../assets/master_card.svg1.png" alt="">
                    <img class="paytm-icon" src="../../assets/paytm.svg1.png" alt="">
                    <img class="paytm-icon" src="../../assets/paypal.svg1.png" alt="">
                    <img class="code-icon" src="../../assets/cod.svg1.png" alt="">
                    <img class="code-icon" src="../../assets/rupay.svg1.png" alt="">
                    <img class="paytm-icon" src="../../assets/american_express.svg1.png" alt="">
                    
                </div>
            </div>
        </div>
    </div>

</section>
