<div class="wish-header">
  <div class="container">
    <p class="para-items">My Wishlist (2Items)</p>
  </div>

  <div class="bg">
    <div class="container">
      <div class="row">
        <div class="col-md-3 mb-3">
          <div class="main-head mt-3">
            <div class="icons">
              <i class="fa-solid fa-x cut"></i>
            </div>
            <img class="img-wish" src="../../assets/wishlist-1.png" alt="" />
            <p class="earn-para1">Earring</p>
            <p class="earn-para2">Price: ₹8,197.00</p>
            <div class="btn-head">
              <button class="btn">Move to cart</button>
            </div>
          </div>
        </div>

        <div class="col-md-3 mb-3">
          <div class="main-head mt-3">
            <div class="icons">
              <i class="fa-solid fa-x cut"></i>
            </div>
            <img class="img-wish" src="../../assets/wishlist2.jpg" alt="" />
            <p class="earn-para1">Earring</p>
            <p class="earn-para2">Price: ₹8,197.00</p>
            <div class="btn-head">
              <button class="btn">Move to cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="double-item pt-2">
      <p class="items">Total Items (2)</p>
      <div class="row">
        <div class="col-md-5 mb-3">
          <div class="ring-header">
            <div class="img-head">
                <img src="../../assets/dp1.jpg" class="earring-img" alt="" />

            </div>
          
            <div class="text-ring">
              <p class="gram">3.14 grams of QAUXAS0007</p>
              <p class="para1">Gold Purity : 22 carat</p>
              <p class="para1">Brand Name : Matrika</p>
              <p class="para1">Weight : 3.14 grams</p>
              <p class="para1">size : 16</p>
              <p class="para1">Quantity : 1</p>
              <p class="para1">
                Product Price :
                <span class="color-rup">₹22,397.00</span>
                <button class="btn-remove">
                  <span class="remove">Remove</span>
                  <i class="fa-regular fa-trash-can remove"></i>
                </button>
                
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-7">
          <div class="total-rup mb-3">
            <p class="rup-para2">
              Item Total <span class="rup">₹39,058.00</span>
            </p>
            <p class="rup-para2">
              GST Price <span class="rup">₹1,171.00</span>
            </p>
            <div class="d-flex">
              <div class="search">
                <input
                  class="input"
                  type="text"
                  placeholder="Apply Gift Card"
                />
              </div>
              <button class="btn-1">Apply</button>
            </div>
            <p class="rup-para3 pt-2">
              Total <span class="rup2">₹1,171.00</span>
            </p>
            <button class="btn2">Place Order</button>
          </div>

          <div class="queries">
            <p>Have any queries ? Contact us for your assistance</p>
            <div class="d-flex">
              <i class="fa-brands fa-whatsapp whatsapp"></i>
              <p class="number">9160006724</p>
            </div>

            <div class="d-flex">
              <i class="fa-solid fa-phone whatsapp"></i>
              <p class="number">040-23222175 / 040-40137575</p>
            </div>
          </div>
        </div>

      
      </div>

      <div class="row">
        <div class="col-md-5">
          <div class="ring-header">
              <div class="img-head">
                  <img src="../../assets/dp2.jpg" class="earring-img" alt="" />

              </div>
            
            <div class="text-ring">
              <p class="gram">2.5 grams of CADVAD0045</p>
              <p class="para1">Gold Purity : 22 carat</p>
              <p class="para1">Brand Name : Matrika</p>
              <p class="para1">Weight :2.5 grams</p>
              <p class="para1">size : 1</p>
              <p class="para1">Quantity : 1</p>
              <p class="para1">
                Product Price :
                <span class="color-rup">₹17,832.00</span>
                <button class="btn-remove">
                  <span class="remove">Remove</span>
                  <i class="fa-regular fa-trash-can remove"></i>

                </button>
               
               
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 
</div>
