.wish-header{
    width: 100%;
    padding-top: 20px;
}

.para-items{
    font-size: 20px;
    font-weight: 500;
}

.bg{
    background-color:#F9F9F9;
}
.icons{
    text-align: end;
    padding-right: 10px;
    .cut{
        font-size: 13px;
    }
}


.main-head{
    background-color:white;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    padding: 10px;
}

.img-wish{
   width: 100%;
   height: 200px;
   background-color: #fff;
   border-radius: 5px;
}

.earn-para1{
    text-align: center;
    margin: 0;
    font-size: 14px;
}

.earn-para2{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.btn-head{
    text-align: center;
    .btn{
        background-color: #8F5058;
        color: white;
    }
}

.ring-header{
    border: 1px solid whitesmoke;
    border-radius: 8px;
    padding-top: 20px;
    margin-bottom: 10px;
}
.earring-img{
    width: 300px;
    height:200px;
    padding: 20px;
    border-radius: 5px;
}

.items{
    font-size: 16px;
    font-weight: 500;
}
.text-ring{
    color: #4E4B66;
    padding-left: 20px;
    justify-content: space-between;
}

.color-rup{
    color: #630914;
    font-weight: 500;
    padding-left: 20px;
    padding-right:20px;
}

.remove{
    padding-left: 10px;
}
.total-rup{
    padding-left: 40px;
}

.input{
    width: 90%;
    height: 35px;
    padding-left: 10px;
   
}
.rup{
    padding-left: 8rem;
}

.rup2{
    padding-left: 10rem;
}



.btn{
    width: 100%;
    height: 40px;
    font-weight: 500;
    background-color: #EAE3E4;
}

.btn2{
    width: 43%;
    border: none;
    height: 40px;
    border-radius: 5px;
    background-color:#630914;
    color: #fff;
    font-weight: 600;
}

.btn-1{
    width: 100px;
    height: 40px;
    background-color: #EAE3E4;
    border: none;
    
}

.rup-para3{
    color: #242330;
    font-size: 18px;
    font-weight: 600;
}

.total-rup{
    // border: 1px solid #F0F3F6;
    border-radius: 8px;
    padding: 20px;
    // padding-left: 8rem;
}

.queries{
    border-radius: 8px;
    // border: 1px solid #F0F3F6;
    padding: 20px;
    // padding-left: 5rem;
}

.whatsapp{
    padding-right: 11px;
    padding-top: 4px;
}

.number{
    font-weight: 600;
}

.img-head{
    text-align: center;
}

.gram{
    color: #242330;
    font-weight: 500;
}

.btn-order{
    background-color: #630914;
    color: #fff;
    width: 100%;
    height: 40px;
    border-radius: 8px;
}

.btn-remove{
    
    border-radius: 5px;
}

@media screen and (max-width:500px) {
    .text-ring{
        padding: 0px;
    }

    .ring-header{
        width: 100%;
        
    }
    
    .total-rup{
        padding-left: 0px;
    }

    .rup-para2{
        font-size: 14px;
    }

    .rup-para3{
        font-size: 14px;
    }

    .queries{
        padding: 11px;
        
    }

    .text-ring{
        padding-left: 10px;
    }

    .queries{
        border: 1px solid whitesmoke;
        margin-bottom: 10px;
    }

    .text-ring{
        font-size: 14px;
        
    }
    .para1{
        margin: 0px;
        padding-bottom: 5px;
    }
    .earring-img{
        padding: 0px 15px 0px 15px;
    }

    .gram{
        margin: 0px;
        padding-bottom: 5px;
        font-weight: 700;
    }

    .total-rup{
        border: 1px solid whitesmoke;
        padding: 10px;
    }

    .btn2{
        width: 100%;
    }

    .btn{
        width: 100%;
    }

    .color-rup{
        padding-left: 4px;
        padding-right: 6px;
    
    }

    
}


@media screen and (max-width:768px) and (min-width:680px) {
    .img-wish{
        
        height: 95px;
    }

   

    
  

}

