<div class="header-contact">
    <img class="contact-img" src="../../assets/contact-us.png" alt="">

    <div class="container">
        <p class="join-para1">Join in a conversation with one of our Jewellery Experts to help you make the right decision. Communicate the way you prefer..</p>

        <div class="row">
            <div class="col-md-3 ">
                <div class="iocns1">
                    <i class="fa-solid fa-phone phone"></i>
                    <p class="para-num1">040-4013 7575</p>
                    <p class="para-text1">Connect with our delight team over a quick phone call</p>
                </div>
            </div>

            <div class="col-md-3 ">
                <div class="iocns1">
                    <i class="fa-brands fa-whatsapp whatsaap"></i>
                    <p class="para-num1">+91 91600 06724</p>
                    <p class="para-text1">Our 24x7 Shopping Assistant is just a text away</p>
                </div>
            </div>

            <div class="col-md-3 ">
                <div class="iocns1">
                    <i class="fa-regular fa-envelope gmail"></i>
                    <p class="para-num1">info goldsikka.com</p>
                   
                    <p class="para-text1">Your question or feedback are always welcome at matrika.com</p>
                </div>
            </div>

            <div class="col-md-3 ">
                <div class="iocns1">
                    <i class="fa-solid fa-message message"></i>
                    <p class="para-num1">FAQs</p>
                   
                    <p class="para-text1">Need an immediate answer ? Check our frequency asked questions.</p>
                </div>
            </div>
        </div>

        <p class="para3 pt-3">Working Hours: Mon-Sat(9:30 am to 6:30 pm)</p>
        <p class="para3">Note: 2nd & 4th Saturdays Holidays.</p>


        <div class="row ">
            <div class="col-md-3 mt-3">
                <div class="con-para">
                    <p class="para-gold">Matrika by Goldsikka</p>
                    <p class="map-para">2nd Floor, Ashoka Raghupathi Chambers, H.No. 1-10-60 adj. to Prakash Nagar Metro Station, Begumpet, Hyderabad, Telangana. Pin: 500016</p>
                </div>
            </div>
            <div class="col-md-9 mt-3">
                <img class="map1" src="../../assets/map1.jpg" alt="">
            </div>
        </div>

    </div>
    

</div>