
.contact-img{
    width: 100%;
    height: 350px;
}

.join-para1{
    color: #000;
    padding-top: 20px;
}

.iocns1{
    height: 180px;
    padding-top: 20px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid gainsboro;
    
}

.phone{
    color: #59CD90;
    font-size: 27px;
}

.whatsaap{
    color:#3FA7D6;
    font-size: 30px;
   
}

.para-num1{
    padding-top: 10px;
    font-size: 18px;
    font-weight: 500;
}

.para-text1{
    font-size: 14px;
    font-weight: 400;
    color: #4E4B66;
    padding: 10px;
}

.gmail{
    color:#FAC05E;
    font-size: 29px;
}

.message{
    color: #F79D84;
    font-size: 29px;
}

.para3{
    margin: 0px;
    padding-top:5px;
    font-size: 14px;
    font-weight: 400;
}

.map1{
    width: 100%;
    height: 300px;
}

.para-gold{
    font-size: 18px;
    font-weight: 500;
}

.map-para{
    color:#4E4B66;
    font-size: 14px;
    font-weight: 400;
}

.con-para{
    padding-top: 90px;
}

@media screen and (max-width:500px) {
    .contact-img{
        height: 180px;
    }
    .join-para1{
        font-size: 14px;
    }

    .iocns1{
        margin-bottom: 20px;
    }

    .con-para{
        padding: 0px;
    }

    .map1{
        height: 200px;
    }
    
}


@media screen and (max-width:768px) and (min-width:680px) {
    .iocns1{
        width: 100%;
        height: 205px;
    }

    .para-num1{
        font-size: 15px;
    }
}