.cart-header{
    padding-top: 30px;
}
.cart-img {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  opacity: 0.2;
}

.oops-bag{
    padding-top: 10px;
    text-align: center;
    font-size: 16px;
    color: #4E4B66;
    font-weight: 400;
}
