<section class="product-header ">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="goldring-head">
          <div class="icon">
            <img class="heart-img" src="../../assets/heart (5).png" alt="" />
            <img class="heart-img" src="../../assets/shopping-bag (4).png" alt=""/>
         

          </div>

          <div class="ring-card mt-2">
            <img class="gold-ring" src="../../assets/gold-ring-hd.png" alt="" />
          </div>
        </div>
      </div>
       
      <div class="col-md-6">
        <div class="para-text">
            <p class="para">Gold-Ring</p>
            <p class="purity-para1">Gold Purity:
                <span class="purity-para2">22k Purity</span>
            </p>
            <p class="purity-para1">Brand:
                <span class="purity-para2">Matrika</span>
            </p>
            <p class="purity-para1">Weight:
                <span class="purity-para2">7.12 grams</span>
            </p>
            <p class="rupe">₹ 8,197.00</p>

            <label for="">size</label>
            <div>
                <select class="input">
                    <option value="" class="number-input">1</option>
                    <option value="" class="number-input">2</option>
                    <option value="" class="number-input">3</option>
                    <option value="" class="number-input">4</option>
                </select>

            </div>

            <p class="purity-para1 mt-2">Any Questions? Please Contact us at</p>

            <div class="Contact-icon d-flex">
                <div class="d-flex">
                    <i class="fa-brands fa-whatsapp icons-social"></i>
                    <p class="number">9160006724</p>

                </div>
                <div class="d-flex">
                    <i class="fa-solid fa-phone icons-social" ></i>
                    <p class="number">040-23222175 / 040-40137575</p>

                </div>

                <p class="certified">
                    100% Certified by <br> International Standard
                </p>
               
            </div>

            <div>
                <img class="manak" src="../../assets/manak.jpg" alt="">

                <button class="btn">Buy Now</button>
            </div>
            
        </div>
      </div>


      <div class="product-details mt-4">
        <p class="product-para">Product Details</p>

        <div class="containeer">
            <div class="row">
                <div class="col-md-3">
                    <p class="info">Basic Information</p>
                    <p class="earr-para1">Product Type:
                        <span class="earr-para2 pl-5">Earrings</span>
                    </p>

                    <p class="earr-para1">Brand:
                        <span class="earr-para2">Matrika</span>
                    </p>

                </div>

                <div class="col-md-3">
                    <p class="info">Metal Information</p>
                    <p class="earr-para1">Metal Purity:
                        <span class="earr-para2">22k</span>
                    </p>

                    <p class="earr-para1">Metal Colour:
                        <span class="earr-para2">Gold</span>
                    </p>

                    <p class="earr-para1">Gross Weight (g):
                        <span class="earr-para2">7.12 grams</span>
                    </p>


                </div>

                <div class="col-md-6">
                    <p class="info">Bureau of Indian Standards Certificate No :</p>
                    <p class="earr-para1">Product Type:
                        <span class="earr-para2">HM/C-6390039720</span>
                    </p>

                    <p class="earr-para1">Legal Entity Identifier No:
                        <span class="earr-para2">894500HECY3CXJW1973W73</span>
                    </p>

                </div>
            </div>
        </div>

      </div>

    </div>
  </div>

  <div class="bg2-header">
    <div class="text-head">
        <p class="like-para">You May Also Like</p>
        <p class="like-para2">"Unearth a world of possibilities – you may just fall in love with this."</p>
        <img class="frame" src="../../assets/Frame.png" alt="">

    </div>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-3 mb-3">
                <div class="card-ring" routerLink="product">
                    <img class="ring-img" src="../../assets/gold-ring-hd.png" alt="">

                    <div class="text-gold">
                        <p class="gold-id">Gold-Ring</p>
                        <p class="prices">Price: ₹36654</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="card-ring" routerLink="product">
                    <img class="ring-img" src="../../assets/gold-product.jpg" alt="">

                    <div class="text-gold">
                        <p class="gold-id">Gold-Ring</p>
                        <p class="prices">Price: ₹36654</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="card-ring" routerLink="product">
                    <img class="ring-img" src="../../assets/neck-p.png" alt="">

                    <div class="text-gold">
                        <p class="gold-id">Gold-Ring</p>
                        <p class="prices">Price: ₹36654</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="card-ring" routerLink="product">
                    <img class="ring-img" src="../../assets/ringgold1.png" alt="">

                    <div class="text-gold">
                        <p class="gold-id">Gold-Ring</p>
                        <p class="prices">Price: ₹36654</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
   

  </div>
</section>
