<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/img1.jpeg"class="d-block w-100 carousel-img" alt="..." >
      </div>
      <div class="carousel-item">
        <img src="../../assets/img2.jpg" class="d-block w-100 carousel-img" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/img3.jpeg" class="d-block w-100 carousel-img " alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<div class="liverate">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="liverate-icon ">
                    <img src="../../assets/new blink.gif" alt="">

                    <div>
                       <p class="date">Mar 04, 2024 at 02:32 PM</p>
                       <p class="live-para">Live Rates</p>
                    </div>

                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4">
                        <div class="ingot">
                            <img src="../../assets/ingots 1 (1).png" alt="">

                            <div>
                                <p class="date">999 Purity</p>
                                <p  class="live-para">24K Gold:
                                    <span class="para-rup">₹ 6570.14 /gram</span>

                                </p>
                            </div>
                        </div>
                       
                    </div>

                    <div class="col-md-4">
                        <div class="gold-chain">
                            <img src="../../assets/gold-chain (1) 1 (1).png" alt="">

                            <div>
                                <p class="date">916 Purity</p>
                                <p class="live-para"> 22K Gold: 
                                    <span class="para-gold">₹ 6024.56 /gram</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="silver-chain">
                            <img src="../../assets/silver 1 (1).png" alt="">

                            <div>
                                <p class="date">916 Purity</p>
                                <p class="live-para">Silver
                                    <span class="para-rup">₹ 82474.92 /1kg</span>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div> 

<div class="shop">
    <p class="para-shop">Shop By Categories</p>
    <p class="para2-shop">"Explore our curated selection and shop with ease as you navigate through our diverse categories.”</p>

    <div class="frame">
        <img src="../../assets/Frame.png" alt="">
    </div>
</div>


<div class="chain-head mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="image-chain">
                    <img class="ring-img" src="../../assets/chain1.jpg" alt="">
                </div>
            </div>

            <div class="col-md-3">
                <div class="image-chain">
                    <img  class="ring-img"src="../../assets/chain2.jpg" alt="">
                </div>
            </div>

            <div class="col-md-3">
                <div class="image-chain">
                    <img class="ring-img" src="../../assets/ring1.jpg" alt="">
                </div>
            </div>

        </div>
    </div>

</div>


<div class="promises">
    <p class="promises1">Matrika Promises</p>
    <p class="promises2">The promises that we'll never break</p>

    <div class="frame">
        <img src="../../assets/Frame.png" alt="">
    </div>
</div>

<div class="assured-life">
    <div class="container">
        <div class="row">
            <div class="main-lifetime">
                <div class="head-img">
                    <div class="main-icon">
                        <img class="guaranted-img" src="../../assets/guaranteed.png" alt="">
                        <p class="issured-para">Assured Lifetime Maintenance</p>

                    </div>
                   
                </div>

                <div  class="head-img">
                    <div class="main-icon">
                        <img class="guaranted-img" src="../../assets/gold-ingots 1.png" alt="">
                        <p class="issured-para">Purity 24k(999 Purity)</p>
                    </div>
                   
                </div>

                <div  class="head-img">
                    <div class="main-icon">
                        <img class="guaranted-img" src="../../assets/asset.png" alt="">
                        <p class="issured-para">Easy Exchange</p>

                    </div>
                   
                </div>

                <div  class="head-img">
                    <div class="main-icon">
                        <img class="guaranted-img" src="../../assets/jewelry (8).png" alt="">
                        <p class="issured-para">Your Jewellery is Insured</p>

                    </div>
                
                </div>

                <div  class="head-img">
                    <div class="main-icon">
                        <img class="guaranted-img" src="../../assets/calendar.png" alt="">
                        <p class="issured-para">14 Days Return Policy</p>
                    </div>
                  
                </div>

                <div  class="head-img">
                    <div class="main-icon">
                        <img class="guaranted-img" src="../../assets/transparency (2).png" alt="">
                        <p class="issured-para">Guaranteed Buyback</p>

                    </div>
                    
                </div>

                <div  class="head-img">
                    <div class="main-icon">
                        <img class="guaranted-img" src="../../assets/safety.png" alt="">
                        <p class="issured-para">Complete Transparency</p>

                    </div>
                   
                </div>

                <div >
                    <div class="main-icon">
                        <img class="guaranted-img" src="../../assets/security (3).png" alt="">
                        <p class="issured-para">Security</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="picks">
    <p class="promises1">Top Picks For You</p>
    <p class="promises2">"Personalized perfection awaits – explore our top picks crafted just for you."</p>

    <div class="frame">
        <img src="../../assets/Frame.png" alt="">
    </div>


    <div class="product mt-2">
        <button class="btn-product">View All Products</button>
    </div>


</div>


<div class="gift mt-2">
    <p class="promises1">A Special Gift</p>
    <p class="promises2">"Unwrap joy with a touch of thoughtfulness – the perfect gift for those who matter most."</p>

    <div class="frame">
        <img src="../../assets/Frame.png" alt="">
    </div>
</div>


<div class="container mt-3">
    <img class="spec-gift" src="../../assets/a special gift.png" alt="">
</div>

<div class=" Ornaments mt-2">
    <p class="promises1">Desirable Ornaments</p>
    <p class="promises2">"Indulge in the allure of desire – adorn yourself with ornaments that captivate and enchant."</p>

    <div class="frame">
        <img src="../../assets/Frame.png" alt="">
    </div>
</div>


<div class="container mt-3">
    <div class="row">
        <div class="col-md-3 desire-ornaments">
            <img class="desire1" src="../../assets/Desirable Ornaments 1.png" alt="">
            <img class="desire2" src="../../assets/Desirable Ornaments 5.png" alt="">
        </div>

        <div class="col-md-3">
            <img class="desire3" src="../../assets/Desirable Ornaments 6.png" alt="">
        </div>

        <div class="col-md-6">
            <img class="desire4" src="../../assets/Desirable Ornaments 3.png" alt="">

            <div class="row ">
                
                    <div class="col-md-6 desire-ring" >
                        <img class="desire5" src="../../assets/Desirable Ornaments 4.png" alt="">
                    </div>
                    <div class="col-md-6 desire-ring">
                        <img class="desire5" src="../../assets/Desirable Ornaments 2.png" alt="">
                    </div>

                
                
            </div>
        </div>
    </div>
</div>

<section class="bg-1">
    <div class="tred mt-2">
        <p class="promises1">Trending On Matrika</p>
        <p class="promises2">"Indulge in the allure of desire – adorn yourself with ornaments that captivate and enchant."</p>

        <div class="frame">
            <img src="../../assets/Frame.png" alt="">
        </div>
    </div>

</section>


<div class="fest-brides mt-3">
    <p class="promises1">Festive & Brides Jewellery</p>
    <p class="promises2">“Adorn Yourself with Our Exquisite Festive Jewellery Selection"</p>
    <div class="frame">
        <img src="../../assets/Frame.png" alt="">
    </div>
</div>

<div class="container mt-3 ">
    <div class="row">
        <div class="col-md-6 mt-3">
            <img class="temple" src="../../assets/temple.png" alt="">
        </div>
        <div class="col-md-6 mt-3" >
            <img class="temple" src="../../assets/bridal.png" alt="">
        </div>
    </div>
</div>


<section>
    <div class="tred mt-2">
        <p class="promises1">Exclusive Jewellery for you!</p>
        <p class="promises2">“Discover the Exclusive Jewellery Collection Tailored Just for You!"</p>

        <div class="frame">
            <img src="../../assets/Frame.png" alt="">
        </div>
    </div>

</section>

<section class="bg-2">
    <div class="tred mt-2">
        <p class="promises1">Deals Of The Day</p>
        <p class="promises2">Unwrap Irresistible Deals with Our Exclusive Daily Offers!"</p>

        <div class="frame">
            <img src="../../assets/Frame.png" alt="">
        </div>
    </div>

    <div class="container mt-3 ">
        <div class="row">
            <div class="col-md-3 mb-3">
                <div class="card-ring" routerLink="product">
                    <img class="ring-img" src="../../assets/gold-ring-hd.png" alt="">

                    <div class="text-gold">
                        <p class="gold-id">Gold-Ring</p>
                        <p class="prices">Price: ₹36654</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="card-ring">
                    <img class="ring-img" src="../../assets/Banglesring.jpg" alt="">

                    <div class="text-gold">
                        <p class="gold-id">Ring</p>
                        <p class="prices">Price: ₹36654</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card-ring">
                    <img class="ring-img" src="../../assets/Necklace1.jpg" alt="">

                    <div class="text-gold">
                        <p class="gold-id">Ring</p>
                        <p class="prices">Price: ₹36654</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="card-ring">
                    <img class="ring-img" src="../../assets/chain-guneesh.jpg" alt="">

                    <div class="text-gold">
                        <p class="gold-id">Kp</p>
                        <p class="prices">Price: ₹0</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3 mb-3">
                <div class="card-ring">
                    <img class="ring-img" src="../../assets/chain-cris.jpg" alt="">

                    <div class="text-gold">
                        <p class="gold-id">Crist Chain</p>
                        <p class="prices">Price:₹134125</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card-ring">
                    <img class="ring-img" src="../../assets/om1.jpg" alt="">

                    <div class="text-gold">
                        <p class="gold-id">Trishul chain</p>
                        <p class="prices">Price:₹91474</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="card-ring">
                    <img class="ring-img" src="../../assets/om2.jpg" alt="">

                    <div class="text-gold">
                        <p class="gold-id">Om pendent chain</p>
                        <p class="prices">Price:₹122013</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="card-ring">
                    <img class="ring-img" src="../../assets/om4.jpg" alt="">

                    <div class="text-gold">
                        <p class="gold-id">tirumala god chain</p>
                        <p class="prices">Price: ₹91451</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card-ring">
                    <img class="ring-img" src="../../assets/om5.jpg" alt="">

                    <div class="text-gold">
                        <p class="gold-id">Hanuman idol chain</p>
                        <p class="prices">Price: ₹91451</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="card-ring">
                    <img class="ring-img" src="../../assets/bangles1.jpg" alt="">

                    <div class="text-gold">
                        <p class="gold-id">Bangles</p>
                        <p class="prices">Price: ₹121934</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="card-ring">
                    <img class="ring-img" src="../../assets/bangles2.jpg" alt="">

                    <div class="text-gold">
                        <p class="gold-id">Bangles2</p>
                        <p class="prices">Price:₹30484</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="card-ring">
                    <img class="ring-img" src="../../assets/bangles3.jpg" alt="">

                    <div class="text-gold">
                        <p class="gold-id">Bangles1</p>
                        <p class="prices">Price: ₹121934</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="card-ring">
                    <img class="ring-img" src="../../assets/bangles4.jpg" alt="">

                    <div class="text-gold">
                        <p class="gold-id">Bangles</p>
                        <p class="prices">Price:₹48774</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card-ring">
                    <img class="ring-img" src="../../assets/goldchain1.jpeg" alt="">

                    <div class="text-gold">
                        <p class="gold-id">single Chain</p>
                        <p class="prices">Price: ₹30478</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card-ring">
                    <img class="ring-img" src="../../assets/goldchain2.jpg" alt="">

                    <div class="text-gold">
                        <p class="gold-id">Multiple chain</p>
                        <p class="prices">Price: ₹54861</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="card-ring">
                    <img class="ring-img" src="../../assets/goldchain3.jpeg" alt="">

                    <div class="text-gold">
                        <p class="gold-id">Single Chain</p>
                        <p class="prices">Price: ₹60956</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card-ring">
                    <img class="ring-img" src="../../assets/goldchain4.jpeg" alt="">

                    <div class="text-gold">
                        <p class="gold-id">Normal Chain</p>
                        <p class="prices">Price: ₹60956</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card-ring">
                    <img class="ring-img" src="../../assets/chocker1.jpg" alt="">

                    <div class="text-gold">
                        <p class="gold-id">Choker3</p>
                        <p class="prices">Price: ₹183412</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="card-ring">
                    <img class="ring-img" src="../../assets/chocker2.jpeg" alt="">

                    <div class="text-gold">
                        <p class="gold-id">Pearl Chain</p>
                        <p class="prices">Price: ₹61137</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="card-ring">
                    <img class="ring-img" src="../../assets/chocker3.png" alt="">

                    <div class="text-gold">
                        <p class="gold-id">Choker2</p>
                        <p class="prices">Price: ₹122274</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="card-ring">
                    <img class="ring-img" src="../../assets/chocker4.jpg" alt="">

                    <div class="text-gold">
                        <p class="gold-id">Choker1</p>
                        <p class="prices">Price: ₹152843</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="card-ring">
                    <img class="ring-img" src="../../assets/choker5.jpg" alt="">

                    <div class="text-gold">
                        <p class="gold-id">Choker</p>
                        <p class="prices">Price: ₹183412</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>





