<div class="wish-header">
    <div class="container">
      <div class="double-item pt-2">
        <p class="items">Total Items (2)</p>
        <div class="row">
          <div class="col-md-8 mb-3">
            <div class="ring-header ">
              <div class="img-head">
                <img src="../../assets/dp1.jpg" class="earring-img" alt="" />
              </div>
  
              <div class="text-ring">
                <p class="gram">Order ID: 766236467566</p>
                <p class="para1">Gold Purity : 22 carat</p>
                <p class="para1">Brand Name : Matrika</p>
                <p class="para1">Weight : 3.14 grams</p>
                <p class="para1">size : 16</p>
                <p class="para1">Quantity : 1</p>
                <span class="color-rup">₹22,397.00</span>
                <!-- <button class="btn-order mb-3">Order status</button> -->
  
                <!-- Button trigger modal -->
                <button type="button" class="btn-order" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Order Status
                </button>
  
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                          Tracking
                        </h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <p>Order ID: 766236467566</p>
                        <div class="trans d-flex">
                          <span class="dot"></span>
                          <p class="para-trans">Transaction Successful</p>
                        </div>
                        <p class="line"></p>
  
                        <div class="trans d-flex">
                          <span class="dot"></span>
                          <p class="para-trans">Order Placed at Goldsikka</p>
                        </div>
                        <p class="line2"></p>
                        <div class="trans d-flex">
                          <span class="dot2"></span>
                          <p class="para-trans2">Order Accepted at Goldsikka</p>
                        </div>
                        <p class="line2"></p>
                        <div class="trans d-flex">
                          <span class="dot2"></span>
                          <p class="para-trans2">Your Order is in Making</p>
                        </div>
                        <p class="line2"></p>
                        <div class="trans d-flex">
                          <span class="dot2"></span>
                          <p class="para-trans2">Order is Ready to Pickup</p>
                        </div>
                        <p class="line2"></p>
                        <div class="trans d-flex">
                          <span class="dot2"></span>
                          <p class="para-trans2">Your Order is Delivered</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-8 mb-3">
            <div class="ring-header ">
              <div class="img-head">
                <img src="../../assets/dp2.jpg" class="earring-img" alt="" />
              </div>
  
              <div class="text-ring">
                <p class="gram">Order ID: 76623646756</p>
                <p class="para1">Gold Purity : 22 carat</p>
                <p class="para1">Brand Name : Matrika</p>
                <p class="para1">Weight : 3.14 grams</p>
                <p class="para1">size : 16</p>
                <p class="para1">Quantity : 1</p>
                <span class="color-rup">₹22,397.00</span>
  
                <!-- <button class="btn-order mb-3">Order status</button> -->
                <button type="button" class="btn-order" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Order Status
                </button>
  
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                          Tracking
                        </h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <p>Order ID: 766236467566</p>
                        <div class="trans d-flex">
                          <span class="dot"></span>
                          <p class="para-trans">Transaction Successful</p>
                        </div>
                        <p class="line"></p>
  
                        <div class="trans d-flex">
                          <span class="dot"></span>
                          <p class="para-trans">Order Placed at Goldsikka</p>
                        </div>
                        <p class="line2"></p>
                        <div class="trans d-flex">
                          <span class="dot2"></span>
                          <p class="para-trans2">Order Accepted at Goldsikka</p>
                        </div>
                        <p class="line2"></p>
                        <div class="trans d-flex">
                          <span class="dot2"></span>
                          <p class="para-trans2">Your Order is in Making</p>
                        </div>
                        <p class="line2"></p>
                        <div class="trans d-flex">
                          <span class="dot2"></span>
                          <p class="para-trans2">Order is Ready to Pickup</p>
                        </div>
                        <p class="line2"></p>
                        <div class="trans d-flex">
                          <span class="dot2"></span>
                          <p class="para-trans2">Your Order is Delivered</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  
